<div class="container">
  <div class="row align-center">
    <header>
      <h1>
        <span class="brown">Miss</span>
        <span class="green">Saraos</span>
      </h1>
      <h2>Costura creativa & Handmade</h2>
    </header>

    <ul class="social">
      <li class="email">
        lossaraosdesara&#64;gmail.com
      </li>
      <li class="instagram">
        <a href="https://www.instagram.com/misssaraos/">&#64;misssaraos</a>
      </li>
      <li class="facebook">
        <a href="https://www.facebook.com/lossaraosdesara">lossaraosdesara</a>
      </li>
    </ul>

    <footer>
      <h3>Creando pequeños detalles para grandes momentos.</h3>
    </footer>
  </div>
</div>