<div class="container">
  <header class="align-center">
    <h1>
      <span class="brown">Miss</span>
      <span class="green">Saraos</span>
    </h1>
    <h2>Costura creativa & Handmade</h2>
  </header>

  <div class="row">
    <ul class="social">
      <li class="email">
        lossaraosdesara&#64;gmail.com
      </li>
      <li class="instagram">
        <a href="https://www.instagram.com/misssaraos/">&#64;misssaraos</a>
      </li>
      <li class="facebook">
        <a href="https://www.facebook.com/lossaraosdesara">lossaraosdesara</a>
      </li>
    </ul>
  </div>

  <footer class="align-center">
    <h3>Creando pequeños detalles para grandes momentos.</h3>
  </footer>
</div>